<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="~/css/style.css">
    <link href='http://fonts.googleapis.com/css?family=Arizonia' rel='stylesheet' type='text/css'>
</head>
<body>
        <nav>
                <a href="/">Home</a>
                <a href="/projects">Projects</a>
                <a href="/contact">Contact</a>
        
            </nav>
            <div class="container">
                <h1 class="welcome">Welcome</h1>
                <div class="cont">
                    <img class="image" src="~/img/ninja.png" alt="Ninja">
                </div>
                <div class="about">
                    <h3 class="name">Jorge E Torres-Hinojoza </h3>
                    <h4 class="aboutMe">About Me</h4>
                     <p>
                         I like to spend time with my family and friends and I am passionate about learn how to code. I'm currently learning C Sharp on Coding Dojo with very awesome teachers.
                     </p>

                </div>



            </div>
</body>
</html>