<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="~/css/style.css">
    <link href='http://fonts.googleapis.com/css?family=Arizonia' rel='stylesheet' type='text/css'>
</head>
<body>
        <nav>
                <a href="/">Home</a>
                <a href="/projects">Projects</a>
                <a href="/contact">Contact</a>
        
        </nav>
        <div class="container">
            <h1 class="welcome">Projects</h1>
            
            <div>
                <h3 class="aboutMe">Image PDS</h3>
                <div class="contpic">
                    <img class ="imgCircle" src="~/img/html.png" alt="html">
                </div>
                <div class="Desc">
                    <h3 class="aboutMe">Description</h3>
                    <p> Applying css and HTML tag to transform the image into functional Web page using HTML and CSS.</p>
                </div>
            </div>
            <div class="next">
                <div class="Desc">
                    <h3 class="aboutMe">Description</h3>
                    <p>Using margins and paddings to adjust the spaces between divisions and use the display property to be able to put each block in its proper place CSS.</p>
                </div>
                <div class="contpic">
                    <img class ="imgCircle" src="~/img/tes.png" alt="css">
                </div>
            </div>
            <div class="next">
                <div class="contpic">
                    <img class="imgCircle" src="~/img/mean.png" alt="mean">
                </div>
                <div class="Desc">
                        <h3 class="aboutMe">Description</h3>
                        <p>
                                Simple HTML page with an image of mean. When the image is clicked, the image disappear. Also, include a button 'Restore'. When the button is clicked, the images will appear.
                        </p>
                </div>

            </div>




        </div>
</body>
</html>