.content
{
    width: 650px;
    margin: 40px auto;
}
.words
{
    border: 2px solid black;
    padding: 20px;
    font-size: 35px;
    font-weight: bold;
    margin-right: 30%;
    letter-spacing: 8px;
}
.button
{
    border: 1px solid transparent;
}
.normal
{
    font-size: auto;
}
