<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="/show" method="get">
       <p><input type="text" name="FirstName" placeholder="First Name"/></p>
        <p><input type="text" name="LastName" placeholder="Last Name" /></p>
    <p><input type="number" name="Age" placeholder="Age" /></p>
    <p><input type="text" name="FavColor" placeholder="Favorite Color" /></p>
        <input type="submit" value="Send" />
    </form>    
</body>
</html>